In [15]:
try:
    import pymysql
    pymysql.install_as_MySQLdb()
except ImportError:
    pass


import MySQLdb
db = MySQLdb.connect(host="localhost",
                 user="gmurphy",
                     passwd="dogs!88!DOGS",
                 db="asimdata")




c = db.cursor()

c.execute("show tables")

print ("Showing list of tables")
for (table_name,) in c:
        print(table_name)

        
print ('dropping tables')

c.execute("DROP TABLE IF EXISTS nadcam")
c.execute("DROP TABLE IF EXISTS stocks")

        
c.execute('''CREATE TABLE nadcam
             (date text, trig text, lev1 text, lev2 text, lat real, lon real, inst text, prev text, obsid real)''')

print ('inserting ')
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')


c.execute("show tables")

print ("Showing list of tables")
for (table_name,) in c:
        print(table_name)

Showing list of tables
nadcam
stocks
dropping tables
inserting
Showing list of tables
nadcam
stocks

In [16]:



# Create table



# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','sprite','RHAT',100,35.14)")

# Larger example that inserts many records at a time
purchases = [('2006-03-28', 'bluejet', 'IBM', 1000, 45.00),
             ('2006-04-05', 'bluejet', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'bluejet', 'IBM', 500, 53.00),
            ]
c.executemany('INSERT INTO stocks VALUES (%s,%s,%s,%s,%s)', purchases)



#c.execute('''CREATE TABLE nadcam1 (dat text, trigger text, level0 text, level1 text,  long real, lat real)''')

# Insert a row of data

print ("Inserting a row of data")
#c.execute("INSERT INTO nadcam1 VALUES ('2006-01-05','bluejet','level1.cdf', 'level2.cdf',55.27,12.14)")

# assemble level 0 cdf file from ccdsds data

# make jpeg plot of timeseries/image

# make level 2 cdf file 

# inject info into database

date='2016-03-01'
lev0='level0.cdf'
lev1='level1.cdf'
pth='asimdatafiles/2016/78/'
trig='sprite'
lon=55.27
lat=12.17
obsid=7771

c.execute("INSERT INTO nadcam VALUES ('2016-03-01','sprite','level1.cdf', 'level2.cdf',55.27,12.1, 'nadcam1','asimdatafiles/2016/78/nadcam1.png','7771')")


busocdata = [
             (date,trig,lev0, lev1,55.27,12.14, 'nadcam2' ,pth+'nadcam2.png' , obsid),
             (date,trig,lev0, lev1,55.27,12.14, 'nadphot1',pth+'nadphot1.png', obsid),
             (date,trig,lev0, lev1,55.27,12.14, 'nadphot2',pth+'nadphot1.png', obsid),
             (date,trig,lev0, lev1,55.27,12.14, 'ramphot1',pth+'ramphot1.png', obsid),
             (date,trig,lev0, lev1,55.27,12.14, 'ramphot2',pth+'ramphot2.png', obsid),
             (date,trig,lev0, lev1,55.27,12.14, 'ramphot3',pth+'ramphot3.png', obsid),
             (date,trig,lev0, lev1,55.27,12.14, 'ramphot4',pth+'ramphot4.png', obsid),
             (date,trig,lev0, lev1,55.27,12.14, 'ramcam1' ,pth+'ramcam1.png' , obsid),
             (date,trig,lev0, lev1,55.27,12.14, 'ramcam2' ,pth+'ramcam2.png' , obsid),
            ]
c.executemany('INSERT INTO nadcam VALUES (%s,%s,%s,%s,%s,%s,%s,%s, %s)', busocdata)





# Save (commit) the changes
db.commit()



#for row in c.execute('SELECT * FROM stocks ORDER BY price'):
#        print row

trig='bluejet'
obsid='7771'
print c.execute("SELECT * FROM nadcam WHERE obsid = '%s'" % obsid)

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
db.close()


#myList = [1,2,3,4]
#for row in myList:
#   print row
#   cur.execute("INSERT INTO table 'Table_Try' VALUES (%s)" % row)

Inserting a row of data
10